/**
 * Default Template Styles
 */

body {
}

$entry-padding: .5rem;

// Microformats/hAtom classes

// Added to all posts by post_class()
.hentry {

}

body.blog {
	#content {
		& .container {
			margin-top:2rem;
		}
	}
}
article {
	.entry-header {
		position: relative;
		text-align: center;
		margin:2rem 0;
	}

	&.excerpt {
		.entry-header {
			
			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: center;
				z-index: 0;
			}
			.entry-title {
				position: relative;
				z-index: 1;
				background-color:transparentize($black, .3);
				padding:4rem 1rem;
				margin: 0;
				a {
					color:$white;

				}
			}	
			.entry-meta {
				position: relative;
			}

			margin-bottom: 2rem;
		}
		.entry-summary {
			margin-bottom: 2rem;
			
			a.birdstrap-read-more-link {
				display: block;
				margin-top: 1rem;
			}
		}
	}
	
	.entry-content {		
	}

	.entry-title {
		position: relative;
		a {
			display: block;
			// background-color: $black;
			padding:$entry-padding;
		}
		margin:$entry-padding 0;
	}
	.entry-meta {
		position: relative;
		display:flex;
		flex-direction: row;
		padding: 0;
		background-color:$gray-200;
		color: $gray-800;
		font-weight: 500;
		width: 100%;
		text-transform: uppercase;
		align-items:center;
		justify-content: space-between;
		.entry-date {
			font-size: $font-size-xs;
			padding:0 $entry-padding;
		}
	}
	
	
	
	// Should be used to wrap the_excerpt()
	.entry-summary {
		padding:$entry-padding;
	}

	// Should be used to wrap the_content()
	.entry-content {
		padding:0 $entry-padding;
	}

	// Present on body of archive pages
	.hfeed {

	}

	// Should be used on the title within .hfeed
	.site-title {

	}

	// Should be used on the content within .hfeed
	.site-content {

	}

	// Post dates - template-tags::birdstrap_posted_on()
	.published {

	}
	.updated {

	}
	// If the post has been updated since posting, you may not want to show both dates
	.updated:not(.published){
		display: none;
	}

	// Author - template-tags::birdstrap_posted_by()
	.byline {

		.label {}

		.author {}
	}

	.entry-footer {
		border-top:1px solid $gray-300;
		margin: $entry-padding;
		padding:$entry-padding 0;
	}

	// Taxonomy list - template-tags::birdstrap_cats/tags/tax
	.taxonomy-list {

		@include responsive-font-size(14px, 16px);

		.label {}

		&.categories {}

		&.tags {
			a {
				background-color:$gray-300;
				color:$gray-900;
				padding:.25rem;
				transition:$transition-base;
				&:hover {
					background-color:$primary;
				}
			}
		}
	}


	// Comments

	.comment-content {
		@extend %clear;

		a {
			// Allow links posted in comments to wrap
			word-wrap: break-word;
		}
	}

	// Use this to highlight comments by the post author
	.bypostauthor {
		display: block;
	}


	// Misc

	.sticky {}

	// Do not display the WP edit link on the front end for logged-in users
	.edit-link {
		display: none;
	}
}
// Should be used on the title within .hentry

