/**
 * Default Page Template Styles
 */

body.page {
	#page {
		
	}
	article {
		&.page {
			.entry-header {
				margin-top: 0;
				&.has-img {
					h1 {
						position: absolute;
						width: 100%;
						text-align: center;
						bottom:0;
						z-index: 10;
						color:$white;
					}
				}
				.feature-image {
					@extend .alignfull;
					position: relative;
					height: 40vh;
					transition:height .35s ease-in;
					z-index: 1;

					&::before {
						content:'';
						z-index: 0;
						position: absolute;
						width: 100%;
						height: 100%;
						background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						opacity: .96;
					}

					@include respond-to('md'){
						height: 60vh;
						overflow: hidden;
					}


					img {
						object-fit: cover;
						object-position: center;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	&.scrolled {
		article {
			&.page {
				.entry-header {
					.feature-image {
						//height: 20vh;
					}
				}
			}
		}
		
	}

}
