/**
 * Accessibility
 */

// Skip to content link
a.skip-link {
	position: fixed;
	z-index: 1000;
	top: 0px;
	right: 0px;
}

// Use .sr-only and .sr-only-focusable when possible
.screen-reader-text {
	@extend .sr-only;
}

// Do not show the outline on the skip link target
#content[tabindex="-1"]:focus {
	outline: 0;
}
