/**
 * Direct element styles
 *
 * Similar to a reset, but Bootstrap already includes it's own reset
 */

// Make sure images fit their containers
img,
figure {
	max-width: 100%;
	height: auto;
}

// Make sure embeds and iframes fit their containers
embed,
iframe,
object {
	max-width: 100%;
}
