/**
 * General Layout Styles
 *
 * Containers, grids, etc. Any global layout classes go here.
 */

// Wraps the entire contents of the page
#page {}

// Wraps the main content of the page minus masthead & colophon
#content {
	@include apply-masthead-height-to(padding-top);
}

/**
 * BEGIN Bootstrap container replacement
 *
 * The below replaces container and grid classes from Bootstrap with the aim to
 * strip the breakpoint max-widths from .container but keep everything else
 * essentially the same. To disable this, set $enable-grid-classes to true in
 * settings/_boostrap.scss
 */
@if not $enable-grid-classes {
	.container {
		@include make-container();
		//@include make-container-max-widths();
		max-width: $container-max-width;
	}

	// 100% wide container with no max-width
	.container-fluid {
		@include make-container();
	}

	// Responsive containers that are 100% wide until a breakpoint
	@each $breakpoint, $container-mw in $container-max-widths {
		.container-#{$breakpoint} {
			@extend .container-fluid;
			max-width: $container-mw;
		}
	}

	// Rows
	.row {
		@include make-row();
	}

	// Remove the negative margin from default .row, then the horizontal padding
	// from all immediate children columns (to prevent runaway style inheritance).
	.no-gutters {
		margin-right: 0;
		margin-left: 0;

		> .col,
		> [class*="col-"] {
			padding-right: 0;
			padding-left: 0;
		}
	}

	// Columns
	@include make-grid-columns();
}
/**
 * END Bootstrap container replacement
 */


// Main column+sidebar layout

.content-col {
	@extend .col;
}

// Use the $sidebar-position setting or override with .left class
.sidebar-col {
	@extend .col;
	width: 100%;
	flex: 0 0 100%;

	@include respond-to($sidebar-breakpoint) {
		width: $sidebar-width;
		flex: 0 0 $sidebar-width;

		@if $sidebar-position == left {
			order: -1;
			margin-right: $sidebar-margin;
		}
		@else {
			margin-left: $sidebar-margin;
		}

		&.left {
			order: -1;
			margin-right: $sidebar-margin;
			margin-left: 0;
		}
	}
}

// Use this to wrap all sidebar content to make it sticky
.sidebar-sticky {
	@include respond-to($sidebar-breakpoint) {
		position: sticky;
		top: 0;

		// If using fixedHeader, apply masthead height to top value
		.stuck-ready & {
			@include apply-masthead-height-to(top);
		}
	}
}


// Float clear utility class

.clear {
	@extend %clear;
}


// Alignment

.alignleft {
	//display: inline;
	float: left;
	margin-right: $grid-gutter-width;
}

.alignright {
	//display: inline;
	float: right;
	margin-left: $grid-gutter-width;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignwide {
	margin-left: -($grid-gutter-width/2);
	margin-right: -($grid-gutter-width/2);

	.row & {
		width: unset;
	}
}

.alignfull {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	width: 100vw;

	// Fall back to alignwide on sidebar pages (within .row)
	.row & {
		@extend .alignwide;
		width: unset;
	}
}
