/**
 * Typography
 */

// Font smoothing
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


// Headings

// Define heading styles as classes first, elements extend classes below
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	clear: both;
}

// Responsive heading font sizes
.h1 {
	@include responsive-font-size(1.75rem, 3rem);
	font-weight: 900;
}
.h2 {
	@include responsive-font-size(1.5rem, 2.25rem);
	font-weight: 400;
}
.h3 {
	@include responsive-font-size(1.375rem, 1.75rem);
	font-weight: 600;
}
.h4 {
	@include responsive-font-size(1.25rem, 1.5rem);
	font-weight: 900;
}
.h5 {
	@include responsive-font-size(1.125rem, 1.25rem);
	font-weight: 600;
}
.h6 {
	@include responsive-font-size(1rem, 1.125rem);
	font-weight: 900;
}

// Apply heading styles to elements
h1 { @extend .h1; }
h2 { @extend .h2; }
h3 { @extend .h3; }
h4 { @extend .h4; }
h5 { @extend .h5; }
h6 { @extend .h6; }


p, ul, ol {

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

ol, ul {

	&.plain-list,
	&.is-style-plain-list {
		list-style: none;
		padding-left: 0;
	}
}


// Text utilities

.text-truncate {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
