//
// WP Editor/Gutenberg Styles
//

// Fonts
@import "fonts";

// Settings
@import "settings/bootstrap",
        "settings/general";

//@import "bootstrap/scss/functions"; // imported in settings/bootstrap
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/type";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";

// Utilities
@import "util/functions",
        "util/mixins",
        "util/misc";

// Global styles
@import "global/elements",
        "global/typography",
        "global/modifiers";

// Components
@import "components/link",
        "components/button";

.container {
	max-width: 720px;
	margin: 0 auto;
}

// Modules
@import "modules/content",
        "modules/form",
        "modules/block",
        "modules/gallery";

body {
	margin: 1em;
}

.wp-block {
	max-width: 720px;

	// Width of "wide" blocks
	&[data-align="wide"] {
		max-width: 1080px;
	}

	// Width of "full-wide" blocks
	&[data-align="full"] {
		max-width: none;
	}

	&-columns {
		margin: 0 auto !important;
	}
}
