/**
 * General Page Content Styles
 */

#feature-img {
	position: fixed;
	z-index: 0;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition:.4s opacity;
	
	img {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
		width: 100%;
		height:auto;
		animation-name: move-feature-bg;
		animation-duration: 600s;
		animation-timing-function: linear;
		animation-iteration-count: 1;
	}
}
@keyframes move-feature-bg {
   from {
     transform: translateY(0);
   }
   to { 
     transform: translateY(-150%);
   }
}
// Bootstrap element tweaks

.jumbotron {
	margin-bottom: 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.carousel-item {
		display: block;
	}
}
article {
	position: relative;
}

// Misc

// Yoast breadcrumbs
#breadcrumbs {
	font-size: 0.75em;
	padding: 1.5em 0;
	border-bottom: 1px solid $gray-800;

	.fa {
		padding: 0 1em;
		font-size: 0.8em;
		vertical-align: middle;
		color: $gray-200;
	}
}
