/**
 * Footer
 */

#colophon {
	@extend %clear;
	@extend .has-dark-background-color;
	position: relative;
	padding: $spacer 0;
	text-align: center;
	border-top:1px solid $white;

	#footer-menu {
		font-family: $headings-font-family;
		@include responsive-font-size(.875rem,1.125rem)
	}
	.site-info {
		margin: $spacer auto;
	}

	.copyright {
		font-size: 0.75em;
		font-weight: 500;
		text-transform: uppercase;
	}
}
