/**
 * Gallery
 */

.gallery {
	margin-bottom: 1.5em;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: 100% / $i;
		}
	}
}

.gallery-caption {
	display: block;
}

.wp-caption {
	font-size: inherit;
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin: 0 auto;
	}

	.wp-caption-text {
		font-size: inherit;
		text-align: center;
		margin: 0.8075em 0;
	}
}
