/**
 * Header
 */

#masthead {
	position: absolute; // overriden below if simplystuck is active
	left: 0;
	z-index: $zindex-fixed;
	width: 100%;
	background-size: cover;
	background-position: bottom;
	transition: $transition-base;
	@include respond-to('md','down'){
		padding-left:$spacer;
		padding-left:$spacer;
	}
	// See mixin—applies $masthead-height setting at breakpoints
	@include apply-masthead-height-to(height);

	@extend %clear;
	&::before {
		content:'';
		z-index: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		opacity: .96;
		
	}
	// Indicates that simplystuck is active
	.stuck-ready & {
		position: fixed;
	}

	.scrolled & {

		// Shrinks masthead on scroll, desktop size
		@include respond-to('md') {
			height: $masthead-height-md;
		}
		.site-title {
			@include responsive-font-size(1.75rem,1.5rem);
		}
	}

	.navbar {
		height: 100%;
		width: 100%;
		@include respond-to('md','down'){
			position:absolute;
			top:0;
			left:0;
			.navbar-toggler {
				position: absolute;
				top:$spacer*.5;
				right:0;
			}
		}
		z-index: 9999;
	}

	.container,
	[class^=container-] {
		height: 100%;
		// negate default padding removal
		padding: 0 ($grid-gutter-width/2);
	}

	// Logo
	.navbar-brand {
		position: relative;
		z-index: 999;
		.row {
			align-items:center;
		}
		width: 100%;
		height: 100%;
		border-bottom: 1px solid $gray-400;
		
		@include respond-to('md'){
			padding-bottom: 1rem;
		}


		.navbar-dark & {
			color: $navbar-dark-active-color;

			@include hover-focus {
				color: $navbar-dark-active-color;
			}
		}
		.site-title {
			@include make-col-ready();
			@include make-col(4);
			@extend .h2;
			@include responsive-font-size(1.5rem,2.5rem);
			transition: $transition-base;
			font-weight: 6  00;
			margin-bottom: 0;
			
			font-family: $font-family-sans-serif;
			a {
				color:$white;
			}
			
		}
		a:hover {
			text-decoration: none;
		}

	}
	.social-links {


		@include make-col-ready();
		@include make-col(6);

		.social-link-list {
			justify-content: flex-end;
			@include responsive-font-size(1.25rem,1.5rem);
			margin-bottom: 0;
			a {
				&:hover {
					color:$yellow;
				}
			}
		}
	}
}

.main-menu {

	@include respond-to('md','down') {
		height: 100vh;
		background:transparentize($black, .1);
		display: flex;
		flex-direction: row;
		align-items:center;
		&__content {
			padding: $spacer*2;
			font-size: 2rem;
		}
	}
	&__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;


	}

	@include respond-to('lg') {
		height: 100%;
		justify-content: flex-end;

		&__content {
			height: 100%;
			align-items: flex-end;
		}
	}
}
