/**
 * Nav
 */

// General styles applied to all menus
.nav-menu {
	width: 100%;

	.nav-item { // li

	}

	.nav-link { // a

	}

	.dropdown-toggle {
		cursor: pointer;

		&::after { // caret

		}
	}

	.dropdown { // li

		> a:not(.dropdown-toggle) {
			margin-right: 1.5rem;
			padding-right: 0;
		}

		> span.dropdown-toggle {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0.5rem;
			
			&::after {
				content:'\f107';
				font-family: FontAwesome;
				font-weight: 300;
				border:none;
			}
			
			
		}

		&:hover,
		&:focus {
			> ul {
				display: block;
			}
		}

		.dropdown-menu {
			top:90%;
			font-size: $font-size-sm;
			
		}
	}

	&--primary {
		order: 0;

		@include respond-to('md') {
			order: 1;
			justify-content: flex-end;
		}
	}

	&--utility {
		order: 1;
		font-size: 0.875rem;

		@include respond-to('md') {
			order: 0;
			justify-content: flex-end;
		}
	}

	&--footer {
		font-size: 0.75rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		a, button {

			&:hover,
			&:focus {}
		}

		span.dropdown-toggle,
		a.dropdown-toggle::after {
			display: none;
		}

		/*
		// NOTE: I don't recommend enabling depth > 0 on the footer menu
		.dropdown-menu {
			display: block;
			position: relative;
			top: 0;
			left: 0;
			float: none;
			padding: 0;
			margin: 0;
			color: inherit;
			background-color: transparent;
			border: none;
			border-radius: 0;
		}
		*/
	}
}

// Bootstrap menu class applied to navs within navbars
.navbar-nav {
	font-family: $font-family-sans-serif;
	justify-content: space-between;

	li.nav-item {
		color: inherit;
		opacity: .9;
		transition: .3s opacity;
		&:hover,
		&:focus {
			opacity: 1;
			//color: $primary;
		}
	}
	.nav-link {
		opacity: 1;
	}

	.active,
	.current_page_item,
	.current-menu-item,
	.current-page-ancestor,
	.current-menu-ancestor {

		.nav-link {
			//color: $primary;
		}
	}
}


// Page/post navigation
.navigation {
	clear: both;
	margin: $spacer 0;

	// Paginated links
	&.pagination-nav {}

	// Next/prev navigation
	.nav-previous {}
	.nav-next {}

	&.posts-nav {}
	&.pages-nav {}
	&.comments-nav {}
}


// Jetpack Infinite scroll

// Globally hidden elements when Infinite Scroll is supported and in use.
.infinite-scroll .navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

// When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before.
.infinity-end.neverending .navigation,
.infinity-end.neverending .site-footer {
	display: block;
}
