$banner_height_xs : 50vh;
$banner_height_md : 75vh;

.wp-block-feature-carousel.carousel {
    position: relative;

	background-color: #fff;
	background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; 
    color:#fff;
    padding:1rem 0;
    height: auto;
    @include respond-to('md','up'){
        overflow :hidden;
    	height: $banner_height_md;
    }
    padding:0;
    position: relative;
    background-color: $dark; 

    .gradient-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,.6) 66%, rgba(0,0,0,.3) 100%);
        opacity: .7;
    
        @include respond-to('md','up'){
            background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,.6) 33%,rgba(0,0,0,0) 100%);
            opacity: .69;
        }
    }
    .carousel {
        
    }
    .carousel-item {
        background-size: cover;
        background-position: center;
        min-width: 100vw;
        padding:1rem 0;
        .container-fluid {
            position: relative;
            z-index: 2;
        }
        min-height: $banner_height_xs;
        @include respond-to('md','up'){
            min-height: $banner_height_md;
        }
        transition:opacity .3s;
        opacity:0;
        
        &.active { 
            display:flex;
            opacity:1;
            align-items:center;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            object-fit: cover;
            opacity: 1;
        }

        .carousel-item-container {
        	position: relative;
        	z-index: 1;
        	height: 100%;
            

        	.row {
        		align-items:center;
                justify-content: flex-end;
        	}

            .carousel-item-content {
                @include make-col-ready();
                @include make-col(10);
                @include respond-to('md'){
                    @include make-col(6);
                }
                @include respond-to('lg'){
                    @include make-col(5);
                }
                background-color:transparentize($red, .1);
                padding:2rem;
            }
        	h3 {
        		@extend h2;
        		a {
        			color:$white;
        			&:hover {
        				color:$primary;
        				text-decoration: none;
        			}
        		}
        	}
        	.slide-description {
                @include respond-to('xs','only'){
                    display: none;
                }
        		margin:1rem 0 2rem;
        	}
        	a.btn {
        		@extend .btn-secondary;
        	}
        }
        &:nth-child(odd){
            .carousel-item-container {
                .row {
                    justify-content: flex-start;
                    .carousel-item-content {
                        background-color:transparentize($white, .1);
                        h3 {
                            a {
                                color:$red;
                            }
                        }
                        color:$dark;
                    }

                }
            }
        }
        

    }
    .carousel-indicators-container {
        position: absolute;
        bottom: 0;
        min-width: 100vw;
        z-index: 100;

    }

    .carousel-control-next, 
    .carousel-control-prev {
        max-width: 70px;
        font-size: 32px;
        @include respond-to('lg','down'){
            width:auto;
            padding: 0 3px; 
            font-size: 24px;
        }
    }

    .carousel-controls {
        
    }

}
