.social-link-list {
	list-style: none;
	padding: 0;
	font-size: 1.25em;
	width: 100%;
	white-space: nowrap;
	display: flex;
	justify-content: center;


	// @include respond-to('sm', 'down'){
	// 	background-color: $white;
	// 	padding: .5rem;
	// 	font-size: .875em;
	// 	position: absolute;
	// 	bottom: -1rem;
	// }

	li {
		display: inline-block;
		padding: .5rem;
	}

	a {
		padding: 0.25em;
		color:$white;
		&:hover {
			color:$yellow;
		}
	}
}

.social-share {
	margin:0;

	.list-inline-item {
		display: inline;
		margin:0;
		a {
			background-color: $gray-600;
			padding:0 .5rem;
			// width: 44px;
			// font-size: 21px;
			display: inline-block;
			text-align: center;
			&.facebook {
				background-color: #446bae; 
			}
			&.reddit {
				background-color: #ff3a00;
			}
			&.twitter {
				background-color: #33a5ee;
			}
			&:hover {
				opacity:.8;
			}
		}
		i {
			color:$white;
		}
	}
}