//
// Misc Utilities
//
// Stuff that doesn't fit anywhere else! Utility classes and placeholders.
//

%clear {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

%background-image {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
