//
// Mixins
//

// Bootstrap responsive mixin alias
@mixin respond-to( $breakpoint, $direction: 'up' ) {
	@if $direction == 'up' {
		@include media-breakpoint-up($breakpoint){@content;}
	}
	@else if $direction == 'down' {
		@include media-breakpoint-down($breakpoint){@content;}
	}
	@else if $direction == 'only' {
		@include media-breakpoint-only($breakpoint){@content;}
	}
	@else {
		@error "Invalid $direction specified for respond-to mixin (up, down, only)";
	}
}

// Shortcut for applying styles to :hover & :focus
@mixin hover-focus {
	&:hover,
	&:focus {
		@content;
	}
}

// Applies font size with md & lg breakpoints
@mixin responsive-font-size($min, $max) {
	font-size: $min;

	@include respond-to('md') {
		font-size: ($min + $max) / 2;
	}

	@include respond-to('lg') {
		font-size: $max;
	}
}

// Apply masthead height to each passed in property
@mixin apply-masthead-height-to( $props-list... ) {
	@for $i from 1 through length($props-list) {
		#{nth($props-list, $i)}: $masthead-height;
	}

	@include respond-to('md') {
		@for $i from 1 through length($props-list) {
			#{nth($props-list, $i)}: $masthead-height-md;
		}
	}

	@include respond-to('lg') {
		@for $i from 1 through length($props-list) {
			#{nth($props-list, $i)}: $masthead-height-lg;
		}
	}
}

// Fix issues with admin bar and sticky site headers
@mixin admin-sticky-fix( $offset: 0 ) {
	$narrow-offset: 46px;
	$wide-offset: 32px;

	@if $offset != 0 and type-of($offset) == 'number' {
		$narrow-offset: $narrow-offset + $offset;
		$wide-offset: $wide-offset + $offset;
	}

	.admin-bar & {

		top: $narrow-offset;

		@media screen and (min-width: 783px) {
			top: $wide-offset;
		}
	}
}

@mixin background-image() {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
